.svn
VirtualKey
VirtualKey_
Resurs.exe
instresursX.exe
*Resource.rc
lastopen
*.bin
*.dcp
*.exe
*.dcu
*.~*
*.scc
*.bak
*.ini
*.local
*.identcache
*.dsk
*.otares
*.pdf
*.txt
*.mes
*.map
*.drc
*.stat
__history/ 
__recovery
*.projdata
*.cfg
*.ldf
*.mdf
*.txaPackage
*.tvsconfig
*.txvpck
*.res
*.cmds
*.delphilsp.json
*.vrc
*.rsm
*.identcache
*.dsk
*.local
*.dat
*.log
*.eof
*.dsv
.git
*.s3db
*.s3db-wal
*.s3db-shm
FireDAC.Phys.*.pas
FireDAC.inc
Components/WebSockets/dcp
ResursComponent
BD Copies
Devices
Программы
/FastMM
/Program/Profiling
/Bin/FastMM_FullDebugMode.dll
/Bin/webshare/
/Bin/webclient/
/Bin/Tmp
/Bin/dunitx-results.xml
/Bin/FakeTemplates
/Bin/Bpl
/Tests/Win32
/Tests/Bin
/Tests/Out

тра-ля-ля!!



